<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innohub signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
    <script>
      function goBack() {
			  window.history.back();
		  }
      $( function() {
        $( "#datepicker" ).datepicker({
          onSelect: onDateChange
        });
      });
      function onDateChange(dateText, inst)
      {
        $("#enterdate").val(dateText);
      }
      </script>
</head>
<body>
  <div class="main">
    <!-- <img src="back-logo-black.png" onclick="goBack()"> -->
    <img src="NCPA-logo.png" class="logo" onclick="goBack()">
    <div class="background" >
      <img src="back-logo-black.png" class="imgbut" onclick="goBack()">
      <div class="ctitle">Innohub signup</div>
    </div>
    <div class="content">
      <form action="cancelsuccess" method="get">
        <div class="datet">
          <div id="datepicker" required></div>
          <input id="enterdate" data-inline = "true" type="text" placeholder="Enter date" name="date" hidden>
          <div class="informaiton"><%- message %></div>
        </div>

        <div class="inputdata">
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="name" class="form-control" id="inputEmail3" name="teachername" placeholder="Fisrtname Lastname" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="xxx@ncpachina.org" required>
            </div>
          </div>
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0 getmain">Time period:</legend>
            <div class="col-sm-10">
              <div class="getleft">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios1" value="Block A" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Block A
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios2" value="Block B">
                  <label class="form-check-label" for="gridRadios2">
                    Block B
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios3" value="Block C">
                  <label class="form-check-label" for="gridRadios3">
                    Block C
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios4" value="Block D">
                  <label class="form-check-label" for="gridRadios4">
                    Block D
                  </label>
                </div>
              </div>
              <div class="getright">
                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios5" value="Block E">
                    <label class="form-check-label" for="gridRadios5">
                      Block E
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios6" value="Block F">
                    <label class="form-check-label" for="gridRadios6">
                      Block F
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios7" value="Block G">
                    <label class="form-check-label" for="gridRadios7">
                      Block G
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="timeperiod" id="gridRadios8" value="Block H">
                    <label class="form-check-label" for="gridRadios8">
                      Block H
                    </label>
                  </div>
                  </div>
              </div>
            </div>
          </fieldset>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Class:</label>
            <div class="col-sm-10">
              <input type="class" class="form-control" id="inputEmail3" name="classname" placeholder="Class" required>
            </div>
          </div>
        </div>
        <button type="submit" class=" but" id="sub">Sign in</button>
      </form>
    </div>
  </div>
</body>
</html>