<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Innohub signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  
  <style>
    *{
      padding: 0;
      margin: 0;
    }
    body{
      background-image:url(MicrosoftTeams-image.png);
      background-repeat: no-repeat;
	    background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      font-family: "Sans Serif";   
    }
    .background{
      /* background-color: aqua; */
      font-size: 600%;
      text-align: center;
    }
    .main{
      z-index: 5;
      width: 60%;
      height: cover;
      margin: 0 auto;
      box-shadow: 0px 0px 20px 10px rgba(64, 64, 64, 0.5);
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba(255, 255, 255);
    }
    .ctitle{
      /* margin-left: 45%; */
      font-size: 75%;
      margin-top: 15%;
    }
    .logo{
      position: relative;
      height: 30%;
      width: 40%;
      margin-bottom: -15%;
    }
    .content{
      width: 100%;
      height: 75%;
      margin: 0 auto;
      font-size: 130%; 
    }
    .datet{
      width: 30%;
      height: 50%;
      position: relative;
      float: left;
      margin-top: 5%;
      margin-left: 7%;
      margin-right: 7%;
    }
    .inputdata{
      width: 50%;
      height: 70%;
      float: left;
      margin-top: 4%;
    }
    .getleft{
      float: left;
      width: 50%;
    }
    .getright{
      width: 50%;
      float: left;
    }
    .imgbut { /*This is for the back button*/
      z-index: 5;
      margin-left: -40%;
      margin-top: 3%;
      position: absolute;
      height: 4rem;
      width: 4rem;
      color: #000;
    }
    button{
      height: 45px;
      width: 75%;
      margin-top: 5%;
      background-color: rgba(53, 50, 50, 0.6);
      border-radius: 30px 30px 30px 30px;
      color: aliceblue;
      margin-bottom: 10%;
    }
    .informaiton{
      color: red;
      font-size: 300%;
    }
    .form-control{
      border: none;
      background-color: inherit;
      outline: none;
      border-bottom: 1px solid gray;
      border-radius: 0 0 0 0 ;
    }
  </style>
    <script>
      function goBack() {
			  window.history.back();
		  }
      $( function() {
        $( "#datepicker" ).datepicker({
          onSelect: onDateChange
        });
      });
      function onDateChange(dateText, inst)
      {
        $("#enterdate").val(dateText);
      }
      </script>
</head>
<body>
  <div class="main">
    <!-- <img src="back-logo-black.png" onclick="goBack()"> -->
    <img src="NCPA-logo.png" class="logo">
    <div class="background" >
      <img src="back-logo-black.png" class="imgbut" onclick="goBack()" for="ctitle">
      <h1 class="ctitle">Innohub signup</h1>
    </div>
    <div class="content">
      <form action="submit" method="get">
        <div class="datet">
          <div id="datepicker" required></div>
          <input id="enterdate" data-inline = "true" type="text" placeholder="Enter date" name="getdate" hidden>
          <div class="informaiton"><%- message %></div>
        </div>

        <div class="inputdata">
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Name:</label>
            <div class="col-sm-10">
              <input type="name" class="form-control" id="inputEmail3" name="name" placeholder="Fisrtname Lastname" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail3" name="email" placeholder="xxx@ncpachina.org" required>
            </div>
          </div>
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0 getmain">Time period:</legend>
            <div class="col-sm-10">
              <div class="getleft">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Block" id="gridRadios1" value="Block A" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Block A
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Block" id="gridRadios2" value="Block B">
                  <label class="form-check-label" for="gridRadios2">
                    Block B
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Block" id="gridRadios3" value="Block C">
                  <label class="form-check-label" for="gridRadios3">
                    Block C
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="Block" id="gridRadios4" value="Block D">
                  <label class="form-check-label" for="gridRadios4">
                    Block D
                  </label>
                </div>
              </div>
              <div class="getright">
                <div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="Block" id="gridRadios5" value="Block E">
                    <label class="form-check-label" for="gridRadios5">
                      Block E
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="Block" id="gridRadios6" value="Block F">
                    <label class="form-check-label" for="gridRadios6">
                      Block F
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="Block" id="gridRadios7" value="Block G">
                    <label class="form-check-label" for="gridRadios7">
                      Block G
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="Block" id="gridRadios8" value="Block H">
                    <label class="form-check-label" for="gridRadios8">
                      Block H
                    </label>
                  </div>
                  </div>
              </div>
            </div>
          </fieldset>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Class:</label>
            <div class="col-sm-10">
              <input type="class" class="form-control" id="inputEmail3" name="class" placeholder="Class" required>
            </div>
          </div>
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Purpose:</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Purpose" id="borrow" value="Borrow Classroom" checked>
                <label class="form-check-label" for="borrow">
                  Borrow Innohub Classroom
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Purpose" id="borrow2" value="Borrow WoodShop" checked>
                <label class="form-check-label" for="borrow2">
                  Borrow Innohub WoodShop
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="Purpose" id="meet" value=" Meet with administrator">
                <label class="form-check-label" for="meet">
                  Meet with administrator(Only Block B/F)
                </label>
              </div>
            </div>
          </fieldset>
          <div class="row mb-3">
            <label for="inputadditional" class="col-sm-2 col-form-label">Additional Information:</label>
            <div class="col-sm-10">
              <textarea type="class" class="form-control" id="inputadditional" name="additioninformation" placeholder="Additional Information" rows="4"></textarea>
            </div>
          </div>
        </div>
        <button type="submit" class=" but" id="sub">Sign in</button>
      </form>
    </div>
  </div>
</body>
</html>